@mixin HamburgerNav($height, $width){
  nav{
    height: auto; //$height;
    width: $width;
    background-color: rgba(140,140,140,.9);
    position: fixed;
    z-index: 2;
  }
}


@mixin spacer($height){
  width:100%;
  height:$height;
}
