*{
  margin: 0;
  border: 0;
  padding: 0;
}

body{
  background-image: url("../IMAGES./background_1.jpg");
}

.hamburger{
  visibility: hidden;
}

#logo{
  display: inline-block;
  width: 25%;
}
/////////////////////////////////////////////////////////////
//////////////////      Media Queries     //////////////////
////////////////////////////////////////////////////////////

/* Smartphones */
@media only screen and (min-width: 310px) and (max-width: 880px) {
  @import"../3rd_Party_Libraries/Hamburgers/hamburgers.scss";
  header{
    text-align: center;
  }

  #logo{
    display: inline-block;
    width: 50%;
  }

  .hamburger{
    visibility: visible;
    position: relative;
    right: 15vw;
    bottom:4vw;
  }
  .hamburger:focus{
    outline:0;
  }
}

/* Tablets */
@media only screen and (min-width: 881px) and (max-width: 1580px) {
  header{
    text-align: center;
  }

  #logo{
    display: inline-block;
    width: 50%;
  }

  .hamburger{
    visibility: visible;
    position: relative;
    right: 10vw;
    bottom:4vw;
  }
  .hamburger:focus{
    outline:0;
  }
}
