@import "../3rd_Party_Libraries/Hamburgers/_hamburgers.scss";
@import "_mixins.scss";

// ------ MAIN CONTENT -------
main{
  //Keep the main content centered, even when it is given position:fixed.
  width: 100%;
}


//------- BODY/HTML ----------
  * {
    margin: 0;
    border: 0;
    padding: 0;
  }

  body {
    background-image: url("../IMAGES./background_1_light.jpg");
    width:100%;
  }

// -----------------------------
// ---------- NAVIGATION -------
header {
  //Header contains hamburger button, and logo.
  position: fixed;
  border-bottom: 5px solid white;
  background-image: url("../IMAGES./background_1.jpg");
  width: 100%;
  padding-top: 18px;
}

nav {
  //So it doesn't pop up mobile menu when you first load the page.
  visibility: hidden;
  position: fixed;
}

#headerWrapper{
  position: relative;
  z-index: 999;
}

// ---------------------------
//------ MAIN CONTENT --------


  #contentWrapper{
    z-index: -1;
    height:100%;
  }

  #intro{
    text-align: center;
    width: 100%;
  }
  .introText{
    padding-top: 2vw;
    font-family: 'Pacifico', cursive;
    font-size: 200%;
    color: white;
  }

  // -------- ABOUT US SECTION -------

  .bio{
    margin-top: 10vw;
    margin-bottom: 10vw;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    transform: translate(7.5%, 0);
  }


  .mugshot:hover{
    -webkit-transform:scale(1.08); /* Safari and Chrome */
    -moz-transform:scale(1.08); /* Firefox */
    -ms-transform:scale(1.08); /* IE 9 */
    -o-transform:scale(1.08); /* Opera */
     transform:scale(1.08);
  }

  .mugshot{
    -webkit-transition: all .4s ease; /* Safari and Chrome */
    -moz-transition: all .4s ease; /* Firefox */
    -ms-transition: all .4s ease; /* IE 9 */
    -o-transition: all .4s ease; /* Opera */
    transition: all .4s ease;
  }

  .name{
    padding-top: 4px;
    width: 70%;
    margin: auto;
    font-weight: bold;
  }

  .desc{
    width: 100%;
    margin: auto;
    text-align: left;
    display: none;
    //Keep slideToggle() from making ugly twitching.
      overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    padding-bottom: 25px;
  }

  .desc p{
    font-family: "Source Sans Pro", Arial, Tahoma, sans-serif;
    width: 95%;
    color:white;
    padding-left: 16px;
    font-size: 18px;
  }


  .subject{
    font-family: "Open Sans",Arial,sans-serif;
    font-size: 23px;
    display: block;
    margin-top: 5.5%;
    text-align: left;
    color:gray;
  }

  // -------------------------------
//------------------------------------
// SCROLLMAGIC Fading animation-------
.about{
  text-align: center;
  padding-top:10px;
  padding-bottom:10px;
  opacity: 0;
  transform: translateY(50px);
  transition: all 1s ease-out;
  width: 85%;
}
.about.fade-in {
  opacity: 1;
  transform: translateY(0);
}

// first fade in for the fade in from the left
.reason-left{
    opacity: 0;
    transform: translateX(500px);
    transition: all 1s ease-out;
}
.reason-left.left {
  opacity: 1;
  transform: translateX(0);
}

.reason-right{
    opacity: 0;
    transform: translateX(-500px);
    transition: all 1s ease-out;
}
.reason-right.right{
  opacity: 1;
  transform: translateX(0);
}
//------------------------------------
//------ The Why Us Section ----------

.full-screen.why{
  background-image: url("../IMAGES/background_1.jpg");
  @include spacer(60vh);
  display: block;
  margin: 0 auto;

}

.reason-subject{
  margin-top: 10px;
  margin-bottom: 10px;
  color: rgb(65, 102, 233);
}
// -------------------------------
// --- The Contact Us section ----

.full-screen.contact{
  background-image: url("../IMAGES/background_1_light.jpg");
  @include spacer(55vh);
  display: block;
  margin: 0 auto;

}


//--------------------------------
// ---------------------------------
// SCROLLMAGIC Section styling------
section {
  text-align: center;
  color: #EFEFEF;
}

.full-screen {
  height: 100%; /* makes panels the entire window height */
}
//--------------


/////////////////////////////////////////////////////////////
//////////////////      Media Queries     //////////////////
////////////////////////////////////////////////////////////

/* Smartphones */
@media only screen and (min-width: 0px) and (max-width: 416px){

  @include HamburgerNav(80vh, 80vw);

  .spacer{
    @include spacer(21vw);
  }

  .full-screen.why{
    @include spacer(120vh);

  }

  header{
    text-align: center;
  }

  #logo{
    display: inline-block;
    width: 70%;
    position: relative;
  }

  .hamburger{
    visibility: visible;
    position: relative;
    right: 5vw;
    bottom:3.5vw;
  }
  .hamburger:focus{
    outline:0;
  }

  main{
    //Keep the main content centered, even with position:fixed.
    transform: translate(0%, 0);
    width: 100%;
  }

  .about img{
    height:50vw;
    width:50vw;
    border-radius: 50%;
  }
}

/* Large Smartphones */
@media only screen and (min-width: 417px) and (max-width: 740px) {

  @include HamburgerNav(160vh, 70vw);


  .spacer{
    @include spacer(15.5vw);
  }

  .full-screen.why{

    @include spacer(95vh);
  }
  header{
    text-align: center;
  }

  #logo{
    display: inline-block;
    width: 50%;
    position: relative;
  }

  .hamburger{
    visibility: visible;
    position: relative;
    right: 19vw;
    bottom:3.1vw;
  }

  .hamburger:focus{
    outline:0;
  }

  .introText{
    font-size: 228%;
  }

  .about img{
    height:35vw;
    width:35vw;
    border-radius: 50%;
  }

}

/* Tablets */
@media only screen and (min-width: 740px) and (max-width: 1280px) {
  header{
    text-align: center;
  }
  .full-screen.why{
    @include spacer(70vh);
  }

  #logo{
    display: inline-block;
    width: 40%;
    position: relative;
  }

  .hamburger{
    visibility: hidden;
  }
}

/* Desktop */
@media only screen and (min-width: 1281px) and (max-width: 9920px){
  .hamburger{
    visibility: hidden;
  }

  #logo{
    display: inline-block;
    width: 25%;
    position: relative;
  }
}
